* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body .content-container {
  overflow: hidden;
  height: 1000px;
}

nav {
  width: 100vw;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav .overlay {
  display: none;
}
nav .toggle {
  display: none;
}
nav .nav-menus {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  height: 85px;
}
nav .nav-menus li {
  font-size: 18px;
}
nav .nav-menus li a {
  color: hsl(233deg, 8%, 62%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55px;
}
nav .nav-menus li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: hsl(136deg, 65%, 51%);
  transition: all 0.2s ease;
}
nav .nav-menus li a:hover {
  color: hsl(233deg, 26%, 24%);
}
nav .nav-menus li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: hsl(136deg, 65%, 51%);
}
nav #nav-button {
  position: relative;
  padding: 12px 30px;
  margin: 20px 0;
  border-radius: 50px;
  color: hsl(220deg, 16%, 96%);
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border: none;
  cursor: pointer;
  overflow: hidden;
}
nav #nav-button::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3764705882);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translateX(-500px);
  transition: all 0.2s ease-in-out;
}
nav #nav-button:hover::after {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1100px) {
  nav {
    background-color: white;
    padding: 0 5rem;
  }
  nav .toggle {
    order: 2;
    display: block;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    margin: 17px 0;
  }
  nav .toggle span {
    display: inline-block;
    width: 28px;
    height: 3px;
    background-color: black;
    transition: all 0.4s ease;
  }
  nav .toggle.active span:first-child {
    transform-origin: 0 100%;
    transform: rotateZ(45deg) translateX(-1px);
  }
  nav .toggle.active span:nth-child(2) {
    transform: scale(0);
  }
  nav .toggle.active span:last-child {
    transform-origin: 0 0;
    transform: rotateZ(-45deg) translateY(1px) translateX(-3px);
  }
  nav img {
    order: 1;
  }
  nav .nav-menus {
    display: flex;
    position: fixed;
    top: 80px;
    left: 30px;
    right: 30px;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
    gap: 0;
    align-items: center;
    height: 40vh;
    z-index: 2;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease;
  }
  nav .nav-menus li a {
    height: fit-content;
    color: hsl(233deg, 26%, 24%);
  }
  nav .nav-menus.active {
    opacity: 1;
    transform: scale(1);
  }
  nav .nav-button-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    bottom: 0;
    left: 0;
    z-index: 2;
    transform: translateY(200px);
    opacity: 1;
    transition: all 0.4s ease;
  }
  nav .nav-button-wrapper.active {
    opacity: 1;
    transform: translateY(0);
  }
  nav::after {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #2d314d, rgba(255, 255, 255, 0.5647058824));
    position: absolute;
    top: 52px;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: all 0.4s ease;
  }
  nav.active::after {
    display: block;
    opacity: 1;
  }
  nav.active {
    position: fixed;
  }
}
@media (max-width: 580px) {
  nav {
    padding: 0 1.37rem;
  }
}
#jumbotron {
  padding-left: 10rem;
  height: 75vh;
  display: flex;
}
#jumbotron .title-container {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#jumbotron .title-container h1 {
  margin-bottom: 15px;
  font-size: 2.8rem;
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
}
#jumbotron .title-container p {
  margin-bottom: 5px;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -1px;
  color: hsl(233deg, 8%, 62%);
}
#jumbotron .title-container button {
  position: relative;
  padding: 12px 30px;
  margin: 20px 0;
  border-radius: 50px;
  color: hsl(220deg, 16%, 96%);
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border: none;
  cursor: pointer;
  overflow: hidden;
}
#jumbotron .title-container button::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3764705882);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translateX(-500px);
  transition: all 0.2s ease-in-out;
}
#jumbotron .title-container button:hover::after {
  opacity: 1;
  transform: translateX(0);
}
#jumbotron .right-side {
  z-index: 0;
  position: relative;
  width: 62%;
  display: block;
  background-image: url("../../../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-position-y: -255px;
}
#jumbotron .right-side img {
  position: absolute;
  right: -100px;
  top: -100px;
  height: 750px;
  width: 600px;
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
