@use 'variables';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: variables.$publicSans;
}

body {
    .content-container {
        overflow: hidden;
        height: 1000px;
    }
}